<div class="container">
    <div class="row"><h3>Iniciar Sesión</h3></div>
    <div class="row">
        <form [formGroup]="fgValidador" (ngSubmit)="identifiacrUsuario()" class="col s4" id="login-form" >
            <div class="row">
                <div class="input-field col s12">
                    <label class="label" for="usuario">Email</label>
                    <input formControlName="usuario" id="usuario" type="email" class="validate">

                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label class="formbuilder-text-label" for="password">Password</label>
                    <input formControlName="password" id="password" type="password" class="validate" >

                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light" type="submit">Ingresar <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
        <div class="col s4">
            <img src="assets/images/vehiculo.png" alt="login image" class="login-img" height="272px">
        </div>
    </div>
</div>
