<nav id="barra">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="badges.html">Components</a></li>
      <li><a routerLink="clientes/registrar">Registrarse</a></li>
      <li *ngIf="!inicioSesion"><a routerLink="seguridad/login">Iniciar Sesion</a></li>
      <li *ngIf="inicioSesion"><a routerLink="seguridad/cerrar-sesion">Cerra Sesión</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="badges.html">Components</a></li>
    <li><a routerLink="clientes/registrar">Registrarse</a></li>
    <li  *ngIf="!inicioSesion"><a routerLink="seguridad/login">Iniciar Sesion</a></li>
    <li  *ngIf="inicioSesion"><a routerLink="seguridad/cerrar-sesion">Cerra Sesión</a></li>
</ul>